Repository rambler-digital-solutions/rambler-common: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@621c05cdd1a05b9796c375ca275054ed47cf8ca3 🚀
  assets/custom.css
  assets/main.js
  assets/navigation.js
  assets/search.js
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  functions/cookie_storage.getAll.html
  functions/cookie_storage.getItem.html
  functions/cookie_storage.removeItem.html
  functions/cookie_storage.setItem.html
  functions/local_storage.getItem.html
  functions/local_storage.removeItem.html
  functions/local_storage.setItem.html
  functions/session_storage.getItem.html
  functions/session_storage.removeItem.html
  functions/session_storage.setItem.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  interfaces/cookie_storage.CookieItemOptions.html
  interfaces/cookie_storage.SetCookieItemOptions.html
  interfaces/local_storage.StorageItemOptions.html
  interfaces/session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
  modules/cookie_storage.html
  modules/local_storage.html
  modules/session_storage.html
Due: prettier --write, eslint --fix

chore(release): publish
  packages/cookie-storage/CHANGELOG.md
  packages/cookie-storage/package.json
  packages/local-storage/CHANGELOG.md
  packages/local-storage/package.json
  packages/session-storage/CHANGELOG.md
  packages/session-storage/package.json
Due: prettier --write

chore: update eslint config
  jest.setup.js
  package.json
  packages/cookie-storage/index.test.ts
  packages/cookie-storage/index.ts
  packages/local-storage/index.test.ts
  packages/local-storage/index.ts
  packages/session-storage/index.test.ts
  packages/session-storage/index.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: update eslint config
  package.json
  yarn.lock
Due: none

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@13f4164f87f5c581a8491eb0e7b298876fcd7a94 🚀
  assets/navigation.js
  assets/search.js
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
Due: prettier --write, eslint --fix

feat(lhci-report): add lighthouse ci reports
  README.md
  package.json
  packages/lhci-report/README.md
  packages/lhci-report/cli.ts
  packages/lhci-report/format.test.ts
  packages/lhci-report/format.ts
  packages/lhci-report/package.json
  packages/lhci-report/report.test.ts
  packages/lhci-report/report.ts
  packages/lhci-report/tsconfig.json
  tsconfig.package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): publish
  packages/lhci-report/CHANGELOG.md
  packages/lhci-report/package.json
Due: prettier --write

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@9c08af1d5a56198729ca814debb56cd167a14dc0 🚀
  assets/highlight.css
  assets/navigation.js
  assets/search.js
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
Due: prettier --write, eslint --fix

fix(lhci-report): fix bin
  packages/lhci-report/package.json
Due: none

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@26ed9bce78ee818271e351f3e9f1f9fa34c471b0 🚀
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
Due: none

docs(lhci-report): update readme
  packages/lhci-report/README.md
Due: prettier --write

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@41cc7f528cd3768942e320694c8a4e1ba2e3495f 🚀
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
Due: none

fix(lhci-report): fix publishing
  packages/lhci-report/package.json
Due: none

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@d73d90e8e2d0495dd84d2423d910fc79ebd5c709 🚀
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
Due: none

fix(cookie-storage,local-storage,session-storage,lhci-report): fix build
  .github/workflows/release.yml
Due: none

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@a8c44ec62916550a92992878fc595c8e2f5bad7c 🚀
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
Due: none

fix(cookie-storage,local-storage,session-storage,lhci-report): update docs
  package.json
  packages/cookie-storage/README.md
  packages/cookie-storage/index.ts
  packages/lhci-report/format.test.ts
  packages/lhci-report/report.test.ts
  packages/local-storage/README.md
  packages/local-storage/index.ts
  packages/session-storage/README.md
  packages/session-storage/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore: update size limit
  .size-limit.json
  tsconfig.json
Due: none

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@adde2b707a6eed83c8557566277f943b581e824f 🚀
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
Due: none

chore(release): publish
  packages/cookie-storage/CHANGELOG.md
  packages/cookie-storage/package.json
  packages/lhci-report/CHANGELOG.md
  packages/lhci-report/package.json
  packages/local-storage/CHANGELOG.md
  packages/local-storage/package.json
  packages/session-storage/CHANGELOG.md
  packages/session-storage/package.json
Due: prettier --write

feat(splits): add splits
  .size-limit.json
  README.md
  jest.config.js
  packages/splits/README.md
  packages/splits/index.test.ts
  packages/splits/index.ts
  packages/splits/package.json
  packages/splits/tsconfig.json
  packages/splits/typedoc.json
Due: prettier --write, eslint --fix

feat(errors): add errors
  .size-limit.json
  README.md
  packages/errors/README.md
  packages/errors/index.test.ts
  packages/errors/index.ts
  packages/errors/package.json
  packages/errors/tsconfig.json
  packages/errors/typedoc.json
Due: prettier --write, eslint --fix

feat(transport): add transport
  .size-limit.json
  README.md
  packages/transport/README.md
  packages/transport/index.test.ts
  packages/transport/index.ts
  packages/transport/package.json
  packages/transport/tsconfig.json
  packages/transport/typedoc.json
Due: prettier --write, eslint --fix

feat(url): add url tools
  .size-limit.json
  README.md
  packages/url/README.md
  packages/url/index.test.ts
  packages/url/index.ts
  packages/url/package.json
  packages/url/tsconfig.json
  packages/url/typedoc.json
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@4a6d8ba71772ae592dc47c22da9e26b1cec69bbf 🚀
  assets/navigation.js
  assets/search.js
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  functions/_rambler_tech_url.addUrlParams.html
  functions/_rambler_tech_url.encodeURIComponentRFC3986.html
  functions/_rambler_tech_url.formatUrl.html
  functions/_rambler_tech_url.getUrlHashParams.html
  functions/_rambler_tech_url.getUrlParams.html
  functions/_rambler_tech_url.removeUrlHash.html
  functions/_rambler_tech_url.removeUrlNullableParams.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
  modules/_rambler_tech_url.html
Due: prettier --write, eslint --fix

chore(release): publish
  packages/url/CHANGELOG.md
  packages/url/package.json
Due: prettier --write

feat(async): add async tools
  .size-limit.json
  README.md
  packages/async/README.md
  packages/async/index.test.ts
  packages/async/index.ts
  packages/async/package.json
  packages/async/tsconfig.json
  packages/async/typedoc.json
Due: prettier --write, eslint --fix

feat(dom): add dom utils
  .size-limit.json
  README.md
  packages/dom/README.md
  packages/dom/index.test.ts
  packages/dom/index.ts
  packages/dom/package.json
  packages/dom/tsconfig.json
  packages/dom/typedoc.json
Due: prettier --write, eslint --fix

feat(react): add react tools
  .size-limit.json
  README.md
  packages/react/README.md
  packages/react/error-boundary.tsx
  packages/react/index.ts
  packages/react/package.json
  packages/react/ssr.ts
  packages/react/tsconfig.json
  packages/react/typedoc.json
  packages/react/use-click-outside.ts
  packages/react/use-countdown-timer.ts
  packages/react/use-interval.ts
  packages/react/use-scroll-position.ts
  packages/react/use-timeout.ts
  packages/react/use-viewport.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(crypto): add crypto utils
  .size-limit.json
  README.md
  packages/crypto/README.md
  packages/crypto/aesrsa.ts
  packages/crypto/bcrypt.ts
  packages/crypto/bcryptjs.d.ts
  packages/crypto/bcryptjs.js
  packages/crypto/buffers.ts
  packages/crypto/crypto.ts
  packages/crypto/ecdsa256.ts
  packages/crypto/index.test.ts
  packages/crypto/index.ts
  packages/crypto/package.json
  packages/crypto/pbkdf2.ts
  packages/crypto/pkce.ts
  packages/crypto/tsconfig.json
  packages/crypto/typedoc.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(debug): add debug
  .size-limit.json
  README.md
  packages/debug/README.md
  packages/debug/index.test.ts
  packages/debug/index.ts
  packages/debug/package.json
  packages/debug/tsconfig.json
  packages/debug/typedoc.json
  yarn.lock
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@13a910885d2f7b0db07c3986dc25bff6fa302a22 🚀
  assets/navigation.js
  assets/search.js
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_debug.initDebug.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  functions/_rambler_tech_url.addUrlParams.html
  functions/_rambler_tech_url.encodeURIComponentRFC3986.html
  functions/_rambler_tech_url.formatUrl.html
  functions/_rambler_tech_url.getUrlHashParams.html
  functions/_rambler_tech_url.getUrlParams.html
  functions/_rambler_tech_url.removeUrlHash.html
  functions/_rambler_tech_url.removeUrlNullableParams.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_debug.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
  modules/_rambler_tech_url.html
Due: prettier --write, eslint --fix

chore(release): publish
  packages/debug/CHANGELOG.md
  packages/debug/package.json
Due: prettier --write

feat(tns-counter): add TNS counter utils
  packages/tns-counter/README.md
  packages/tns-counter/index.ts
  packages/tns-counter/package.json
  packages/tns-counter/tsconfig.json
  packages/tns-counter/typedoc.json
Due: prettier --write, eslint --fix

feat(top-100): add Top100 utils
  packages/top-100/README.md
  packages/top-100/index.ts
  packages/top-100/package.json
  packages/top-100/tsconfig.json
  packages/top-100/typedoc.json
Due: prettier --write, eslint --fix

feat(yandex-metrica): add Yandex Metrica utils
  packages/yandex-metrica/README.md
  packages/yandex-metrica/index.ts
  packages/yandex-metrica/package.json
  packages/yandex-metrica/tsconfig.json
  packages/yandex-metrica/typedoc.json
Due: prettier --write, eslint --fix

chore: docs, size limit
  .size-limit.json
  README.md
  packages/top-100/index.ts
  packages/yandex-metrica/index.ts
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,tsx}
