Repository rambler-digital-solutions/rambler-common: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat(transport): add request factory
  packages/transport/index.test.ts
  packages/transport/index.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/transport/CHANGELOG.md
  packages/transport/package.json
Due: prettier --write

fix(lhci-report): build to commonjs
  packages/lhci-report/tsconfig.json
Due: none

feat(lhci-report): read report dir from lighthouse config
  packages/lhci-report/cli.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/lhci-report/CHANGELOG.md
  packages/lhci-report/package.json
Due: prettier --write

feat(react): add react tools
  packages/use-is-visible/CHANGELOG.md
  packages/use-is-visible/README.md
  packages/use-is-visible/index.ts
  packages/use-is-visible/package.json
  packages/use-is-visible/tsconfig.json
  packages/use-is-visible/typedoc.json
  packages/use-transition-visible/CHANGELOG.md
  packages/use-transition-visible/README.md
  packages/use-transition-visible/index.ts
  packages/use-transition-visible/package.json
  packages/use-transition-visible/tsconfig.json
  packages/use-transition-visible/typedoc.json
Due: prettier --write, eslint --fix

fix: readme, peerDependencies
  packages/use-is-visible/index.ts
  packages/use-is-visible/package.json
  packages/use-transition-visible/README.md
  packages/use-transition-visible/package.json
Due: prettier --write, eslint --fix

fix: edited readme, added size restrictions
  .size-limit.json
  README.md
Due: prettier --write

chore(release): publish
  packages/use-is-visible/CHANGELOG.md
  packages/use-is-visible/package.json
  packages/use-transition-visible/CHANGELOG.md
  packages/use-transition-visible/package.json
Due: prettier --write

feat(use-is-visible): added "once" option
  .size-limit.json
  packages/use-is-visible/index.ts
Due: prettier --write, eslint --fix

refactor(use-is-visible): refactor types
  packages/use-is-visible/index.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/use-is-visible/CHANGELOG.md
  packages/use-is-visible/package.json
Due: prettier --write

chore(release): publish
  packages/tns-counter/CHANGELOG.md
  packages/tns-counter/package.json
  packages/top-100/CHANGELOG.md
  packages/top-100/package.json
  packages/yandex-metrica/CHANGELOG.md
  packages/yandex-metrica/package.json
Due: prettier --write

fix: added new useTransitionVisible
  packages/use-transition-visible/index.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/use-transition-visible/CHANGELOG.md
  packages/use-transition-visible/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.md)
  eslint --fix: any of: *.{js,ts,tsx}
