Repository rambler-digital-solutions/rambler-common: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.md": ["prettier --write"],
  "!(packages/*/{tsconfig,typedoc}).json": ["prettier --write"]
}

fix(debug): lock deps
  packages/debug/package.json
Due: none

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@0e153eef963738c66d0a6ff0f1696f1ea775fd2c 🚀
  assets/navigation.js
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_debug.initDebug.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  functions/_rambler_tech_url.addUrlParams.html
  functions/_rambler_tech_url.encodeURIComponentRFC3986.html
  functions/_rambler_tech_url.formatUrl.html
  functions/_rambler_tech_url.getUrlHashParams.html
  functions/_rambler_tech_url.getUrlParams.html
  functions/_rambler_tech_url.removeUrlHash.html
  functions/_rambler_tech_url.removeUrlNullableParams.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_debug.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
  modules/_rambler_tech_url.html
Due: prettier --write, eslint --fix

chore(release): publish
  packages/debug/CHANGELOG.md
  packages/debug/package.json
Due: prettier --write

fix(splits): lock deps
  packages/splits/package.json
Due: none

docs: fix docs readme
  packages/debug/tsconfig.json
  packages/debug/typedoc.json
  packages/url/tsconfig.json
  packages/url/typedoc.json
  typedoc.package.json
Due: none

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@560466ebc0b231330bb7a2db7ec333c3c5c4155e 🚀
  assets/navigation.js
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_debug.initDebug.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  functions/_rambler_tech_url.addUrlParams.html
  functions/_rambler_tech_url.encodeURIComponentRFC3986.html
  functions/_rambler_tech_url.formatUrl.html
  functions/_rambler_tech_url.getUrlHashParams.html
  functions/_rambler_tech_url.getUrlParams.html
  functions/_rambler_tech_url.removeUrlHash.html
  functions/_rambler_tech_url.removeUrlNullableParams.html
  index.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_debug.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
  modules/_rambler_tech_url.html
Due: prettier --write, eslint --fix

chore(release): publish
  packages/debug/CHANGELOG.md
  packages/debug/package.json
  packages/url/CHANGELOG.md
  packages/url/package.json
Due: prettier --write

docs: fix docs
  packages/errors/tsconfig.json
  packages/errors/typedoc.json
Due: none

docs: fix docs
  packages/splits/tsconfig.json
  packages/splits/typedoc.json
Due: none

docs: fix docs
  packages/transport/tsconfig.json
  packages/transport/typedoc.json
Due: none

docs: fix docs
  packages/async/tsconfig.json
  packages/async/typedoc.json
Due: none

docs: fix docs
  packages/dom/tsconfig.json
  packages/dom/typedoc.json
Due: none

docs: fix docs
  packages/react/tsconfig.json
  packages/react/typedoc.json
Due: none

docs: fix docs
  packages/crypto/tsconfig.json
  packages/crypto/typedoc.json
Due: none

docs: fix docs
  packages/tns-counter/tsconfig.json
  packages/tns-counter/typedoc.json
  packages/top-100/tsconfig.json
  packages/top-100/typedoc.json
  packages/yandex-metrica/tsconfig.json
  packages/yandex-metrica/typedoc.json
Due: none

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@bc1a3dd14ab4d7fa9c8ba0697e2df3812284aa0f 🚀
  assets/navigation.js
  assets/search.js
  functions/_rambler_tech_async.retry.html
  functions/_rambler_tech_async.wait.html
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_debug.initDebug.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  functions/_rambler_tech_url.addUrlParams.html
  functions/_rambler_tech_url.encodeURIComponentRFC3986.html
  functions/_rambler_tech_url.formatUrl.html
  functions/_rambler_tech_url.getUrlHashParams.html
  functions/_rambler_tech_url.getUrlParams.html
  functions/_rambler_tech_url.removeUrlHash.html
  functions/_rambler_tech_url.removeUrlNullableParams.html
  index.html
  interfaces/_rambler_tech_async.RetryOptions.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_cookie_storage.SetCookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_async.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_debug.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
  modules/_rambler_tech_url.html
Due: prettier --write, eslint --fix

chore(release): publish
  packages/async/CHANGELOG.md
  packages/async/package.json
Due: prettier --write

Deploying to gh-pages from @ rambler-digital-solutions/rambler-common@6d2f4f8d6c32c186ab155a1eaefbdc1864b218fc 🚀
  assets/navigation.js
  assets/search.js
  functions/_rambler_tech_async.retry.html
  functions/_rambler_tech_async.wait.html
  functions/_rambler_tech_cookie_storage.getAll.html
  functions/_rambler_tech_cookie_storage.getItem.html
  functions/_rambler_tech_cookie_storage.removeItem.html
  functions/_rambler_tech_cookie_storage.setItem.html
  functions/_rambler_tech_debug.initDebug.html
  functions/_rambler_tech_dom.injectStyleSheet.html
  functions/_rambler_tech_dom.loadScript.html
  functions/_rambler_tech_dom.loadStyleSheet.html
  functions/_rambler_tech_local_storage.getItem.html
  functions/_rambler_tech_local_storage.removeItem.html
  functions/_rambler_tech_local_storage.setItem.html
  functions/_rambler_tech_session_storage.getItem.html
  functions/_rambler_tech_session_storage.removeItem.html
  functions/_rambler_tech_session_storage.setItem.html
  functions/_rambler_tech_url.addUrlParams.html
  functions/_rambler_tech_url.encodeURIComponentRFC3986.html
  functions/_rambler_tech_url.formatUrl.html
  functions/_rambler_tech_url.getUrlHashParams.html
  functions/_rambler_tech_url.getUrlParams.html
  functions/_rambler_tech_url.removeUrlHash.html
  functions/_rambler_tech_url.removeUrlNullableParams.html
  index.html
  interfaces/_rambler_tech_async.RetryOptions.html
  interfaces/_rambler_tech_cookie_storage.CookieItemOptions.html
  interfaces/_rambler_tech_local_storage.StorageItemOptions.html
  interfaces/_rambler_tech_session_storage.StorageItemOptions.html
  modules/_rambler_tech_async.html
  modules/_rambler_tech_cookie_storage.html
  modules/_rambler_tech_debug.html
  modules/_rambler_tech_dom.html
  modules/_rambler_tech_lhci_report.html
  modules/_rambler_tech_local_storage.html
  modules/_rambler_tech_session_storage.html
  modules/_rambler_tech_url.html
Due: prettier --write, eslint --fix

chore(release): publish
  packages/dom/CHANGELOG.md
  packages/dom/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

docs: fix crypto api docs
  packages/crypto/crypto.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
Due: prettier --write

chore(release): publish
  packages/splits/CHANGELOG.md
  packages/splits/package.json
Due: prettier --write

chore(release): publish
  packages/errors/CHANGELOG.md
  packages/errors/package.json
Due: prettier --write

chore(release): publish
  packages/transport/CHANGELOG.md
  packages/transport/package.json
Due: prettier --write

docs: improve comments for typedoc
  packages/async/index.ts
  packages/crypto/crypto.ts
  packages/crypto/index.ts
  packages/errors/index.ts
  packages/splits/index.ts
  packages/url/index.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/async/CHANGELOG.md
  packages/async/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/debug/CHANGELOG.md
  packages/debug/package.json
  packages/errors/CHANGELOG.md
  packages/errors/package.json
  packages/splits/CHANGELOG.md
  packages/splits/package.json
  packages/url/CHANGELOG.md
  packages/url/package.json
Due: prettier --write

docs: improve comments for typedoc
  packages/tns-counter/index.ts
  packages/top-100/index.ts
  packages/yandex-metrica/index.ts
Due: prettier --write, eslint --fix

feat(dom): add attributes to load script
  packages/dom/index.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/dom/CHANGELOG.md
  packages/dom/package.json
Due: prettier --write

fix: compile to es2020 and es modules
  .size-limit.json
  tsconfig.json
  tsconfig.package.json
Due: none

chore(release): publish
  packages/async/CHANGELOG.md
  packages/async/package.json
  packages/cookie-storage/CHANGELOG.md
  packages/cookie-storage/package.json
  packages/crypto/CHANGELOG.md
  packages/crypto/package.json
  packages/debug/CHANGELOG.md
  packages/debug/package.json
  packages/dom/CHANGELOG.md
  packages/dom/package.json
  packages/errors/CHANGELOG.md
  packages/errors/package.json
  packages/lhci-report/CHANGELOG.md
  packages/lhci-report/package.json
  packages/local-storage/CHANGELOG.md
  packages/local-storage/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/session-storage/CHANGELOG.md
  packages/session-storage/package.json
  packages/splits/CHANGELOG.md
  packages/splits/package.json
  packages/transport/CHANGELOG.md
  packages/transport/package.json
  packages/url/CHANGELOG.md
  packages/url/package.json
Due: prettier --write
